apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: "2025-02-09T00:53:02Z"
  generation: 1
  labels:
    app: job-search
  name: job-search
  namespace: default
  resourceVersion: "92930"
  uid: 2d5c8f3e-87a1-4ae8-99e9-fda8e71d2ee4
spec:
  progressDeadlineSeconds: 600
  replicas: 3
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: job-search
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: job-search
    spec:
      imagePullSecrets:
      - name: ecr-secrets
      containers:
      - image: "{{image}}"
        imagePullPolicy: Always
        name: job-search
        ports:
        - containerPort: 3000
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
status: {}
